@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-Italic.woff2') format('woff2'),
        url('../Roboto-font/Roboto-Italic.woff') format('woff'),
        url('../Roboto-font/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-BoldItalic.woff2') format('woff2'),
        url('../Roboto-font/Roboto-BoldItalic.woff') format('woff'),
        url('../Roboto-font/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-BlackItalic.woff2') format('woff2'),
        url('../Roboto-font/Roboto-BlackItalic.woff') format('woff'),
        url('../Roboto-font/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-Bold.woff2') format('woff2'),
        url('../Roboto-font/Roboto-Bold.woff') format('woff'),
        url('../Roboto-font/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-Light.woff2') format('woff2'),
        url('../Roboto-font/Roboto-Light.woff') format('woff'),
        url('../Roboto-font/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-MediumItalic.woff2') format('woff2'),
        url('../Roboto-font/Roboto-MediumItalic.woff') format('woff'),
        url('../Roboto-font/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-Medium.woff2') format('woff2'),
        url('../Roboto-font/Roboto-Medium.woff') format('woff'),
        url('../Roboto-font/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-Regular.woff2') format('woff2'),
        url('../Roboto-font/Roboto-Regular.woff') format('woff'),
        url('../Roboto-font/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-LightItalic.woff2') format('woff2'),
        url('../Roboto-font/Roboto-LightItalic.woff') format('woff'),
        url('../Roboto-font/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-ThinItalic.woff2') format('woff2'),
        url('../Roboto-font/Roboto-ThinItalic.woff') format('woff'),
        url('../Roboto-font/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-Thin.woff2') format('woff2'),
        url('../Roboto-font/Roboto-Thin.woff') format('woff'),
        url('../Roboto-font/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Roboto-font/Roboto-Black.woff2') format('woff2'),
        url('../Roboto-font/Roboto-Black.woff') format('woff'),
        url('../Roboto-font/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

